body {
    width: 100%;
    font-size: 16px;
}

div.offset {
    margin: 20px;
}

div.offset-bottom {
    margin-bottom: 20px;
}

h1 {
    margin-left: 10px;
}

span {
    margin-right: 10px;
}

#input-time {
    width: 60px;
}

#table-domains {
    border: black 1px solid;
    width: 200px;
}

.error {
    color: red;
}
